
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif !important;
}


*::-webkit-scrollbar {
    width: 0.3em;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background: #424a5e;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #2a2a2a;
}
